.container {
    display: flex;
    justify-content: space-between;
  }
  
  .container h2 {
    padding: 20px;
    margin-left: -60px;
  }
  
  /* .container ul li{
    padding: 20px 10px;
  } */
  .nav-bar ul li {
    display: inline-block;
    padding: 20px 20px;
    height: 50px;
  }
  
  .nav-bar ul li a {
    font-size: 15px;
    color: #757e86;
  }
  
  .nav-bar ul li a:hover {
    color: #0ea2bd;
  }
  
  .menu-item a {
    text-decoration: none;
  }
  
  .menu-item1 a {
    text-decoration: none;
    margin-left: 40px;
  }
  
  .menu-item2 h2 {
    color: #485664;
  }
  
  .menu-item3 h2 {
    color: #1a1f24;
    font-size: 20px;
    margin-right: 1000px;
    margin-left: 220px;
  }
  
  .sub-nav-bar {
    position: relative;
    height: 50px;
    background-color: #f6f6f7;
    /* line-height: 50px;
    padding: 0px 220px; */
  
    /* display: flex;
    justify-content: space-evenly; */
  }
  
  .sub-nav-bar ul li {
    display: inline-block;
    padding: 10px 10px;
  }
  
  .sub-nav-bar ul li a {
    font-size: 15px;
    color: #757e86;
  }
  
  .sub-nav-bar ul li a:hover {
    color: #0ea2bd;
  }
  
  .menu-item4 a {
    text-decoration: none;
  }
  
  .start {
    border: none;
    cursor: pointer;
    background-color: #0ea2bd;
    color: white;
    padding: 10px;
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: -40px;
  }
  
  .container button {
    width: 140px;
    height: 40px;
    margin-top: 10px;
  }
  
  .sub-nav-bar {
    height: 50px;
  }
  
  .page-body {
    display: flex;
    padding: 40px 180px;
  }
  
  .page-content {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
    /* margin-left: -115px; */
  }
  
  .page-categories {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px; */
    box-shadow: grey 1px 5px 10px;
    /* display: flex;
    flex-direction: column; */
    padding: 30px 20px 30px 20px;
    height: 1060px;
    width: 370px;
    grid-template-rows: 1fr 1fr 1fr;
  }
  
  .category-search .search {
    margin: 10px auto;
  }
  
  .category-search {
    margin: 15px auto;
  }
  
  .category-search input {
    height: 30px;
    outline: none;
    width: 280px;
  }
  
  .category-search button {
    background-color: #0ea2bd;
    height: 30px;
    width: 40px;
    cursor: pointer;
    position: absolute;
    border: 1px;
    margin-top: 0px;
  }
  
  .paging ul {
    display: flex;
  }
  
  .page-categories {
    flex: 1;
  }
  
  .category-list ul {
    margin: 20px auto;
    margin-bottom: 35px;
  }
  
  .category-list li {
    margin-bottom: 10px;
  }
  
  .category-list ul li:hover {
    color: #20bbd7;
  }
  
  .category-list ul li a {
    text-decoration: none;
    color: #485664;
  }
  
  .category-list ul li a:hover {
    color: #20bbd7;
  }
  
  .big {
    color: #757f8a;
  }
  
  .small {
    color: #a3a5a7;
  }
  
  .category-recent ul {
    margin: 15px auto;
  }
  
  .category-recent li {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
  }
  
  .category-recent li img {
    width: 100px;
    margin-right: 20px;
  }
  
  .category-recent .text h4 {
    color: #808a94;
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
    border: 20px;
  }
  
  .category-recent .text h4:hover {
    color: #20bbd7;
  }
  
  .tags {
    display: flex;
    flex-wrap: wrap;
    color: #aab6c2;
  }
  
  .tags1 {
    display: flex;
    flex-wrap: wrap;
    color: #aab6c2;
  }
  
  .tags2 {
    display: flex;
    flex-wrap: wrap;
    color: #aab6c2;
  }
  
  .tag-item {
    border: 1px solid #a5b2be;
    padding: 10px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  .footer {
    display: flex;
    justify-content: space-evenly;
  }
  
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* width: 413px; */
    grid-column-gap: 20px;
    /* margin-left: 242px; */
  }
  
  .content-item {
    font-size: 13px;
    /* height: 500px; */
    /* position: relative; */
    box-shadow: 1px 5px 10px grey;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 414px;
  }
  
  .content-item img {
    height: 310px;
    /* width: 413px; */
  }
  
  .content-item p {
    font-size: 15px;
    color: #1a1f24;
    line-height: 21px;
    margin-left: 31px;
  }
  
  .content-item button {
    background-color: #0ea2bd;
    border-radius: 5px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    /* margin-left: 240px;
    margin-top: 30px; */
    width: 134px;
    height: 38px;
    align-self: end;
    margin-right: 30px;
    margin-bottom: 30px;
    border: none;
    cursor: pointer;
  }
  
  .category-recent .small1 {
    font-size: 12px;
    color: #babbbd;
    margin-top: 10px;
  }
  
  .time-item span {
    color: #b5b9bd;
  }
  
  .time-item {
    /* margin-left: 150px;
    margin-top: 30px;
    margin-bottom: 20px; */
    margin: 30px 0 34px 0;
    font-size: 14px;
    font-weight: bold;
    color: #90979d;
  }
  
  .time-item span:first-child {
    margin: 0 43px 0 50px;
  }
  
  .time-item span:last-child {
    margin-left: 80px;
  }
  
  .content-item p {
    font-size: 15px;
    color: #4e5154;
    line-height: 21px;
    margin-left: 31px;
  }
  
  .content-item:first-child p {
    width: 320px;
    height: 90px;
  }
  
  .tag-item:hover {
    color: #20bbd7;
    background-color: grey;
  }
  
  .paging ul li {
    cursor: pointer;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    transition: 1s linear;
  }
  
  .paging ul li:hover {
    background-color: #0ea2bd;
  }
  
  .footer {
    display: flex;
    justify-content: space-evenly;
    padding: 60px 60px;
    border-bottom: 1px solid #ffffff;
    background-color: #485664;
  }
  
  .footer-address h2 {
    color: #ffffff;
    padding-bottom: 20px;
  }
  
  .footer-address p {
    color: #d2d5d9;
    font-size: 15px;
  }
  
  .footer-address .address {
    margin-bottom: 20px;
  }
  
  .footer-address {
    margin-left: 20px;
  }
  
  .footer-nav h3 {
    color: #ffffff;
    padding-bottom: 20px;
  }
  
  .nav p {
    color: #c8cdd1;
  }
  
  .nav1 p {
    color: #c8cdd1;
  }
  
  .nav1 h3 {
    color: #ffffff;
    padding-bottom: 20px;
  }
  
  .contaect h3 {
    color: #ffffff;
    padding-bottom: 20px;
  }
  
  .contaect p {
    color: #c8cdd1;
  }
  
  .footer-contaect input {
    height: 30px;
    width: 300px;
  }
  
  .footer-contaect button {
    border: 1px;
    height: 30px;
    background-color: #0ea2bd;
    width: 110px;
    cursor: pointer;
    position: absolute;
    border-radius: 3px;
  }
  
  .sub-footer {
    display: flex;
    background-color: #3a4753;
    padding: 20px 215px;
    justify-content: space-between;
  }
  
  .end span {
    color: #ffffff;
  }
  
  .designed span {
    color: #ffffff;
    font-size: 13px;
  }
  
  .designed a {
    text-decoration: none;
    color: #0ea2bd;
    font-size: 12px;
  }
  
  .block {
    display: flex;
  }
  
  .block .block-same {
    width: 35px;
    height: 35px;
    background-color: #4e5a65;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .block .block-same:hover {
    background-color: grey;
  }
  
  .sub-footer .end {
    margin: 10px 40px;
    font-size: 13px;
  }
  
  .sub-footer .end span {
    margin: 10px;
  }
  